/* General ==================================================================== */
body, input, select, button {
    font: 16px calibri;
    background-color: #f5f5f5;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 0 auto;
    padding: 10px;
    white-space: nowrap;
    background-color: #333;
    color: #ccc;
    display: flex;
    align-items: center;
}

header h1 {
    flex: 1 1 auto;
    margin: 0;
    background: url(../images/favicon.png) no-repeat left center / 32px 32px;
    padding-left: 40px;
}

header div {
    flex: 0 0 auto;
    color: #000;
    padding: 3px 6px;
    border-radius: 3px;
    background-color: #ffd54f;
    font-size: 1.5rem;
}

main {
    flex: 1 1 auto;
    padding: 10px;
    overflow: auto;
}

footer {
    flex: 0 0 auto;
    padding: 10px;
    white-space: nowrap;
    background-color: #333;
}

footer form input, button{
    height: 30px;
    box-sizing: border-box;
}

/* price ======================================================================= */
#form {
    display: flex;
}

#priceMsg {
    list-style: none;
    margin: 0;
    padding: 0;
}

#priceMsg li {
    margin-bottom: 3px;
}

#priceMsg li div {
    display: inline-block;
    max-width: 80%;
    padding: 3px 6px;
    border-radius: 3px;
    word-break: break-all;
}

#priceMsg li.caller {
    text-align: right;
}

#priceMsg li.caller div {
    background-color: #aed581;
}

#priceMsg li.others {
    text-align: left;
}

#priceMsg li.others div {
    background-color: #80deea;
}

#priceMsg li.status {
    text-align: center;
}

#priceMsg li.status div {
    background-color: #ffd54f;
}

#price, #send, #leave{
    width: 100%;
}

/* Container and Item */
.container{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.bid{
    width: 80%;
    margin: 10%;
    display: flex;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 .6rem rgba(0,123,255,.25);
}

.item{
    width: max-content;
    padding: 10px;
    background-color: rgb(228, 123, 4);
}

.price{
    width: 40%;
    padding: 10px;
    background-color: darkcyan;
}